body {
    font-family: 'Oswald';
}

.hero {
    background-image: url('../Images/header2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background: #252525 !important;
}

.is-primary {
    background: #252525 !important;
}

.is-danger {
    background-color: #b40d1a !important;
}

h1,
h2,
h3,
h4,
h5 {
    color: #252525 !important;
}

.text {
    font-family: Segoe UI !important;
    color: #252525 !important;
}

.advice,
.footer {
    background: #252525;
}

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card a {
    color: #252525;
}

.tags a {
    color: #fff !important;
}

.card-header {
    background: #b40d1a;
}

.is-warning {
    background: #b40d1a !important;
    color: #fff !important;
}